<div class="container my-3" *ngIf="!(authService.user | async)?.uid">
	<div class="alert alert-danger" >
	  Unauthorized Access. Please Sign In. 
	</div>
</div>
<div class="container py-4" *ngIf="(authService.user | async)?.uid">
	<h1>Dispatch List</h1>
	<div class="row py-3">
		<div class="col">
			<button class="btn btn-outline-primary" disabled (click)="toggleFilterPanel()">Apply Filter <i class="material-icons">chevron_right</i></button>
			<div class="card mt-3" *ngIf="viewFilter">
				<div class="card-body">
					<div class="btn-group">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Status</button>
						<div class="dropdown-menu">
							<a href="" class="dropdown-item"><span class="badge badge-priority1">1</span></a>
							<a href="" class="dropdown-item"><span class="badge badge-priority2">2</span></a>
							<a href="" class="dropdown-item"><span class="badge badge-priority3">3</span></a>
							<a href="" class="dropdown-item"><span class="badge badge-priority4">4</span></a>
						</div>
					</div>
					<div class="btn-group">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Priority</button>
						<div class="dropdown-menu">
							<a href="" class="dropdown-item"><span class="badge badge-priority1">1</span></a>
							<a href="" class="dropdown-item"><span class="badge badge-priority2">2</span></a>
							<a href="" class="dropdown-item"><span class="badge badge-priority3">3</span></a>
							<a href="" class="dropdown-item"><span class="badge badge-priority4">4</span></a>
						</div>
					</div>
					<div class="btn-group">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assigned</button>
						<div class="dropdown-menu">
							<a href="" class="dropdown-item"><span class="badge badge-priority1">1</span></a>
							<a href="" class="dropdown-item"><span class="badge badge-priority2">2</span></a>
							<a href="" class="dropdown-item"><span class="badge badge-priority3">3</span></a>
							<a href="" class="dropdown-item"><span class="badge badge-priority4">4</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-md-6">
					<div class="form-group">
						<label for="selectOrder">Order By:</label>
						<div class="input-group">
							<select name="selectOrder" id="selectOrder" class="form-control" [ngModel]="selectOrder" (ngModelChange)="orderBy($event)">
								<option value="id" selected>Ticket ID</option>
								<option value="client_name">Company Name</option>
								<option value="assigned_tech">Assigned Tech</option>
								<option value="sched_srvc_date">Sched. Service</option>
								<option value="last_updateed" >Last Updated</option>
								<option value="priority">Priority</option>
							</select>
							<button class="btn btn-success ml-1 toggle" (click)="toggleAscending()" [ngClass]="sortAscending ? 'ascend' : 'descend'"><i class="material-icons">arrow_downward</i></button>
						</div>
					</div>
					<button class="btn btn-primary btn-block" [routerLink]="['/new-ticket']">Create New Ticket <i class="material-icons">add</i></button>
					
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card mb-2" *ngFor="let ticket of tickets | async">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<div><small class="text-secondary">Ticket ID:</small> <br> {{ticket.id}}</div>
							<div><small class="text-secondary">Client:</small> <br> {{ticket.client_name}}</div>
							<div><small class="text-secondary">Location:</small> <br> {{ticket.client_loc_id ? ticket.client_loc_id : '--' }}</div>
							<div><small class="text-secondary">Assigned Tech:</small> <br> {{ticket.assigned_tech ? ticket.assigned_tech : '--' }}</div>
						</div>
						<div class="col">
							<div class="row">
								<div class="col">
									<div>
										<small class="text-secondary">Status:</small> <br> 
										<h4><span class="badge status" [class.badge-assigned]="ticket.status === 'Assigned'" [class.badge-unassigned]="ticket.status === 'Unassigned'" [class.badge-hold]="ticket.status === 'Hold'" [class.badge-closed]="ticket.status === 'Closed'">{{ticket.status}}</span></h4>
									</div>
								</div>
								<div class="col">
									<div>
										<small class="text-secondary">Priority:</small> <br> 
										<h4><span class="badge priority" [class.badge-priority1]="ticket.priority === '1'" [class.badge-priority2]="ticket.priority === '2'" [class.badge-priority3]="ticket.priority === '3'" [class.badge-priority4]="ticket.priority === '4'">{{ticket.priority}}</span></h4>
									</div>
								</div>
							</div>
							<div><small class="text-secondary">Scheduled Service:</small> <br> {{ticket.sched_srvc_date ? (ticket.sched_srvc_date | date:'MM/dd/y')  : '-- / -- / ----'}}</div>
							<div><small class="text-secondary">Last Updated:</small> <br> {{ticket.last_updated ? (ticket.last_updated | date:'MM/dd/y') : '-- / -- / ----'}}</div>
							<a class="details-link mt-3" [routerLink]="['/ticket-detail', ticket.id]" >View Details <i class="material-icons">chevron_right</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>