<div class="card bg-light mb-3">
	<div class="card-body">
		<form #srvNoteForm="ngForm">
			<div class="form-group">
				<textarea name="serviceNoteInfo" id="serviceNoteInfo" [(ngModel)]="serviceNoteInfo" cols="30" rows="10" class="form-control" placeholder="Enter Notes Here..."></textarea>
			</div>
			<div class="row">
				<div class="col">
					<!-- <label class="custom-file mb-3">
						<input type="file" class="custom-file-input" (change)="detectFiles($event)">
						<span class="custom-file-control"><span *ngFor="let file of selectedFiles">{{file.name}}</span></span>
					</label> -->
					<upload-form [parentKey]="noteTimeStamp" (fileUploadData)="addUploadFile($event)"></upload-form>
				</div>
				<div class="col">
					<button class="btn btn-success float-right" (click)="saveNote(srvNoteForm)" [attr.disabled]="(!serviceNoteFileDetails && !serviceNoteInfo) ? '' : null" >Save Note</button>
					<button class="btn btn-secondary float-right mr-2" (click)="cancelNote()">Cancel</button>
				</div>
			</div>
		</form>
	</div>

</div>